div#app {
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
    left: 20%;
    right: 20%;
}

#app select{
    display: inline;
    cursor:pointer;
}

#app h1{
    display: block;
    cursor:default;
}

div#app canvas#app-canvas{
    display: block;
    margin: 50px auto;
    box-shadow: -2px -2px 2px #F3F2F2, 5px 5px 5px #6F6767;
}

