
### maven #####
*/target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.mvn/
/*/target/*.class
/logs/
/bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/log.path*/
admin/log.path*/
*.DS_Store

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

*/bin/*
/target
*/target/*
/target/*
*/logs/*
*/log/*
*/build
lib/*
*.class

/.idea
*/.settings/*
*/.myeclipse/*
*/*.classpath
*/*.project
*/*.mymetadata
*/*.myumldata
*.classpath
*.project
*/*jar-with-dependencies.jar
/.metadata
/.recommenders
/.gradle
/.settings
/*.gradle~
*.ser
